VisualScenarioGenerator/Externals/GME/Trunk/ConfigXSD/databaseConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Danny Lecours (Aptima, Inc.) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Database">
		<xs:complexType>
			<xs:attribute name="server" type="xs:string" use="required"/>
			<xs:attribute name="database" type="xs:string" use="required"/>
			<xs:attribute name="authenticationMode" type="xs:string" use="required"/>
			<xs:attribute name="username" type="xs:string" use="required"/>
			<xs:attribute name="port" type="xs:int" use="optional"/>
			<xs:attribute name="password" type="xs:string" use="optional"/>
			<xs:attribute name="controller" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
