VisualizationDashboard/VisualizationDashboard/SampleData/ConfigDisplaySampleData/ConfigDisplaySampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ConfigDisplaySampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ConfigDisplaySampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConfigDisplaySampleData" type="tns:ConfigDisplaySampleData" />
  <xs:complexType name="ConfigDisplaySampleData">
    <xs:sequence>
      <xs:element name="Display" type="tns:Display" />
      <xs:element name="DisplayFactors" type="tns:DisplayFactors" />
      <xs:element name="DisplayBlockedFactors" type="tns:DisplayBlockedFactors" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="MeasureName" type="xs:string" />
    <xs:attribute name="MetricName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="NumBlockedFactors" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="NumFactors" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Width" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Height" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Display">
    <xs:attribute name="ImageResourcePath" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DisplayFactors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DisplayFactorsItem" type="tns:DisplayFactorsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayFactorsItem">
    <xs:attribute name="FactorName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="FactorPos" type="xs:double" />
    <xs:attribute name="FactorLabel" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DisplayBlockedFactors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DisplayBlockedFactorsItem" type="tns:DisplayBlockedFactorsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayBlockedFactorsItem">
    <xs:attribute name="LevelName" type="xs:string" />
  </xs:complexType>
</xs:schema>