DataFiles/4.0 xml/januarySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 
  <xsd:element name="Scenario">
    <xsd:complexType>
      <xsd:sequence>
        
        <xsd:element name="ScenarioName" type="xsd:string" minOccurs="0" maxOccurs="1"/>       
        <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Playfield" />
        <xsd:choice minOccurs="0" maxOccurs="unbounded">          
          <xsd:element ref="LandRegion"/>          
          <xsd:element ref="ScoringRegion" />          
          <xsd:element ref="ActiveRegion" />
        </xsd:choice>
        
        <xsd:element ref="Team" minOccurs="0" maxOccurs="unbounded"/>

        <xsd:element ref="DecisionMaker" minOccurs="0" maxOccurs="unbounded"/>
        
        <xsd:element ref="Network" minOccurs="0" maxOccurs="unbounded"/>
        
        <xsd:element ref="Sensor" minOccurs="0" maxOccurs="unbounded"></xsd:element>

        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="Genus"/>
          <xsd:element ref="Species"/>
        </xsd:choice>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="Create_Event" />
          <xsd:element ref="Reveal_Event"/>
          <xsd:element ref="Move_Event" />
          <xsd:element ref="Completion_Event" />
          <xsd:element ref="StateChange_Event"/>
          <xsd:element ref="Transfer_Event"/>
          <xsd:element ref="Launch_Event"/>
          <xsd:element ref="DefineEngram"/>
          <xsd:element ref="ChangeEngram"/>
          <xsd:element ref="RemoveEngram"/>
          <xsd:element ref="FlushEvents"/>
          <xsd:element ref="Reiterate"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DefineEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="Value" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ChangeEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="Time" type="xsd:integer"/>
        <xsd:element name="Value" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RemoveEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:element name="Time" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="EngramRange">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name"/>
        <xsd:choice>
          <xsd:element name="Included" type="EngramValueList"/>
          <xsd:element name="Excluded" type="EngramValueList"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="EngramValueList" >
    <xsd:list id="Value" itemType="xsd:string"/>
  </xsd:simpleType>
  <xsd:element name="Playfield">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MapFileName" type="xsd:string"/>
        <xsd:element  name="UtmZone" type="xsd:string" />
        <xsd:element name="VerticalScale" type="xsd:decimal" />
        <xsd:element name="HorizontalScale" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LandRegion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
        <xsd:element name="Vertex" type="PointType" minOccurs="3" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ScoringRegion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
        <xsd:element name="Vertex" type="PointType" minOccurs="3" maxOccurs="unbounded"/>
        <xsd:element name="Start" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="End" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ActiveRegion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
        <xsd:element name="Vertex" type="PointType" minOccurs="3" maxOccurs="unbounded"/>
        <xsd:element name="Start" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="End" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="SpeedMultiplier" type="xsd:decimal"/>
        <xsd:element name="BlocksMovement" type="xsd:boolean"/>
        <xsd:element name="SensorBlocked" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Team">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Against" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecisionMaker">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Role" type="xsd:string" />
        <xsd:element name="Identifier" type="xsd:string" />
        <xsd:element name="Color" type="Colors"/>
        <xsd:element name ="Briefing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Team" type ="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Network" >
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
          <xsd:element name="Member" type="xsd:string"  />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Genus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Species">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Base" type="xsd:string" />
        <xsd:element name="Size" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="IsWeapon" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="RemoveOnDestruction" type = "xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="FullyFunctional" type="FullyFunctionalType"/>
        <xsd:element name="DefineState" type="StateType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Create_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element name="Kind" type="xsd:string"/>
        <xsd:element name="Owner" type="xsd:string" />
        <xsd:element name="Subplatform" type="SubplatformType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Adopt" type="Adopt_Platform" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Reveal_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Time" type="xsd:integer"/>
        <xsd:element name="InitialLocation" type="LocationType"/>
        <xsd:element name="InitialState" type="xsd:string"/>
        <xsd:element name="StartUpParameters" type="Parameters"  minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Move_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Timer" type="xsd:integer" />
        <xsd:element name="Throttle" type="xsd:integer" />
        <xsd:element name="Destination" type="LocationType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Completion_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:choice>
          <xsd:element ref="Action" />
          <xsd:element ref="NewState"/>
        </xsd:choice>
        <xsd:element ref="DoThis"  minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Action" type="xsd:string" />
  <xsd:element name="NewState" type="xsd:string"/>
 
  <xsd:element name="DoThis">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="Move_Event" />
        <xsd:element ref="StateChange_Event"/>
        <xsd:element ref="Reveal_Event"/>
        <xsd:element ref="Completion_Event" />
        <xsd:element ref="Transfer_Event"/>
        <xsd:element ref="Launch_Event"/>
        <xsd:element ref="DefineEngram"/>
        <xsd:element ref="ChangeEngram"/>
        <xsd:element ref="RemoveEngram"/>
        <xsd:element ref="FlushEvents"/>
        <xsd:element ref="Species_Completion_Event"/>
        <xsd:element ref="Reiterate"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Species_Completion_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Species" type="xsd:string"/>
        <xsd:choice>
          <xsd:element ref="Action" />
          <xsd:element ref="NewState"/>
        </xsd:choice>
        <xsd:element ref="DoThis"  minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    
  <xsd:annotation>
    <xsd:documentation>Potentially any event for which there is a return confirmation could be in this command</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ReiterateThis">
    <xsd:complexType>
      <xsd:choice   minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="Move_Event" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reiterate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Start" type="xsd:integer"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="ReiterateThis"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="StateChange_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Time" type="xsd:integer"/>
        <xsd:element name="NewState" type="xsd:string"/>
        <xsd:choice>
          <xsd:element name="From" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Except" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Transfer_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Time" type="xsd:integer"/>
        <xsd:element name="From" type="xsd:string"/>
        <xsd:element name="To" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Launch_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Parent" type="xsd:string"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Time" type="xsd:integer"/>
        <xsd:choice>
          <xsd:element name="Kind" type="xsd:string"/>
          <xsd:element name="Child" type="xsd:string"/>
        </xsd:choice>

        <xsd:element name="RelativeLocation" type="LocationType"/>
        <xsd:element name="InitialState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="StartUpParameters" type="Parameters"  minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="FlushEvents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Unit" type="xsd:string"/>
        <xsd:element name="Type" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="PointType">
    <xsd:sequence>
      <xsd:element name="X" type="xsd:decimal"/>
      <xsd:element name="Y" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>
      Below: Directions are not the same as Locations, but
      a vector is a vector
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Cone">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Spread" type="xsd:decimal"/>
        <xsd:element name="Extent" type="xsd:decimal"></xsd:element>
        <xsd:element name="Direction" type="LocationType"/>
        <xsd:element name="Level" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Sensor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string"/>
        <xsd:choice>
          <xsd:sequence>
            <xsd:element name="Attribute" type="xsd:string"/>
            <xsd:element ref="Cone" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:element name="Extent" type="xsd:decimal"></xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NormalEmitter">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Level" type="xsd:string"/>
        <xsd:choice>
          <xsd:element name="Variance" type="xsd:decimal"/>
          <xsd:element name="Percent" type="xsd:decimal"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="EmitterType">
    <xsd:sequence>
      <xsd:element name="Attribute" type="xsd:string"/>
      <xsd:element ref="NormalEmitter" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EffectType">
    <xsd:sequence>
      <xsd:element name="Intensity" type="xsd:integer"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProximityType">
    <xsd:sequence>
      <xsd:element name="Range" type="xsd:decimal"/>
      <xsd:element name="Effect" type="EffectType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CapabilityType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Proximity" type="ProximityType"  minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TransitionType">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Effect" type="xsd:integer"/>
     <xsd:element name="Range" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
     <xsd:element name="State" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VulnerabilityType">
    <xsd:sequence>
      <xsd:element name="Capability" type="xsd:string"/>
      <xsd:element name="Transitions" type ="TransitionType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ContributionType">
    <xsd:sequence>
      <xsd:element name="Capability" type="xsd:string"/>
      <xsd:element name="Effect" type="xsd:integer" />
      <xsd:element name="Range" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ComboVulnerabilityType">
    <xsd:sequence>
      <xsd:element name="Contribution" type="ContributionType"  minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="NewState" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StateParametersType">
    <xsd:sequence>
      <xsd:element name="LaunchDuration" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DockingDuration" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MaximumSpeed" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelCapacity" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InitialFuelLoad" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelConsumptionRate" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelDepletionState" type = "xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Sense" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Capability" type="CapabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SingletonVulnerability" type="VulnerabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ComboVulnerability" type="ComboVulnerabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Emitter" type="EmitterType" minOccurs="0" maxOccurs="unbounded"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="StateType">
    <xsd:sequence>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Icon" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      
      <xsd:element name="StateParameters" type="StateParametersType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FullyFunctionalType">
    <xsd:sequence>
      <xsd:element name="Icon" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="StateParameters" type="StateParametersType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Parameters">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="Parameter" type="xsd:string" />
      <xsd:element name="Setting" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:annotation>
    <xsd:documentation>
      Technically speaking, the Setting value of Parameter should not
      be described as a string. It should be a string or a LocationType or a VelocityType
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="LocationType">
    <xsd:sequence>
      <xsd:element name="X" type="xsd:decimal" />
      <xsd:element name="Y" type="xsd:decimal" />
      <xsd:element name="Z" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="VelocityType">
    <xsd:sequence>
      <xsd:element name="VX" type="xsd:decimal" />
      <xsd:element name="VY" type="xsd:decimal" />
      <xsd:element name="VZ" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:annotation>
    <xsd:documentation> ID is left as a defined type because it appears in many places</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ID" type="xsd:string" />

  <xsd:annotation>
    <xsd:documentation>
      A unit can have subplatforms; this command gives the type,
      count of launched,unlaunched, of each.  The subplatform may have weapons,
      and this command specifies them, as well.
      So the armament is stuff that belongs to the subplatform, where as Docked and Launched are counts of subplatforms.
      If a unit itself carries weapons they are simply subPlatforms
      --
      LAunched subprojects will be given the option of having their own unique ID. Not required because may not care to have script control. Not required for docked because they will expose their names when launched.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="SubplatformType">
    <xsd:sequence>
      <xsd:element name="Kind" type="xsd:string"/>
      <xsd:element name="Armament" type="ArmamentType"  minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Docked" type="DockedPlatforms" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Launched" type="LaunchedPlatforms" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArmamentType">
    <xsd:sequence>
      <xsd:element name="Weapon" type="xsd:string"/>
      <xsd:element name="Count" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DockedPlatforms">
    <xsd:sequence>
      <xsd:element name="Count" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LaunchedPlatforms">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="InitialState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InitialParameters" type="Parameters" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Adopt_Platform">
    <xsd:sequence>
      <xsd:element name="Child"/>
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="InitialState" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="InitialParameters" type="Parameters" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="Colors">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Aqua"/>
      <xsd:enumeration value="Azure"/>
      <xsd:enumeration value="Blue"/>
      <xsd:enumeration value="BlueViolet"/>
      <xsd:enumeration value="Brown"/>
      <xsd:enumeration value="CornflowerBlue"/>
      <xsd:enumeration value="Crimson"/>
      <xsd:enumeration value="Cyan"/>
      <xsd:enumeration value="DarkBlue"/>
      <xsd:enumeration value="DarkGray"/>
      <xsd:enumeration value="DarkGreen"/>
      <xsd:enumeration value="DarkKhaki"/>
      <xsd:enumeration value="DarkOliveGreen"/>
      <xsd:enumeration value="DarkRed"/>
      <xsd:enumeration value="DarkSlateGray"/>
      <xsd:enumeration value="DodgerBlue"/>
      <xsd:enumeration value="Fuchsia"/>
      <xsd:enumeration value="Gray"/>
      <xsd:enumeration value="Green"/>
      <xsd:enumeration value="GreenYellow"/>
      <xsd:enumeration value="HotPink"/>
      <xsd:enumeration value="Khaki"/>
      <xsd:enumeration value="LimeGreen"/>
      <xsd:enumeration value="Magenta"/>
      <xsd:enumeration value="Maroon"/>
      <xsd:enumeration value="Navy"/>
      <xsd:enumeration value="Olive"/>
      <xsd:enumeration value="OliveDrab"/>
      <xsd:enumeration value="Orange"/>
      <xsd:enumeration value="OrangeRed"/>
      <xsd:enumeration value="Plum"/>
      <xsd:enumeration value="PowderBlue"/>
      <xsd:enumeration value="Purple"/>
      <xsd:enumeration value="Red"/>
      <xsd:enumeration value="RosyBrown"/>
      <xsd:enumeration value="RoyalBlue"/>
      <xsd:enumeration value="SandyBrown"/>
      <xsd:enumeration value="SeaGreen"/>
      <xsd:enumeration value="Silver"/>
      <xsd:enumeration value="SkyBlue"/>
      <xsd:enumeration value="SlateBlue"/>
      <xsd:enumeration value="SlateGray"/>
      <xsd:enumeration value="Tan"/>
      <xsd:enumeration value="Teal"/>
      <xsd:enumeration value="Transparent"/>
      <xsd:enumeration value="Turquoise"/>
      <xsd:enumeration value="Violet"/>
      <xsd:enumeration value="Yellow"/>
      <xsd:enumeration value="YellowGreen"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>