VisualScenarioGenerator/VSG/Models/vsg/xsd/DDDSchema_4_0_2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
  <xsd:element name="Scenario">
    <xsd:annotation>
      <xsd:documentation>Order of commands in a scenario file</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ScenarioName" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ClientSideAssetTransfer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Playfield" />
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="LandRegion"/>
          <xsd:element ref="ActiveRegion" />
        </xsd:choice>
        <xsd:element ref="Team" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="DecisionMaker" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Network" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="DefineEngram" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element ref="Sensor" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        <xsd:element ref="TimeToAttack"  minOccurs="0" maxOccurs="1"/>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="Genus"/>
          <xsd:element ref="Species"/>
        </xsd:choice>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="ChangeEngram"/>
          <xsd:element ref="CloseChatRoom"/>
          <xsd:element ref="Completion_Event" />
          <xsd:element ref="Create_Event" />
          <xsd:element ref="FlushEvents"/>
          <xsd:element ref="Launch_Event"/>
          <xsd:element ref="Move_Event" />
          <xsd:element ref="OpenChatRoom"/>
          <xsd:element ref="Reiterate"/>
          <xsd:element ref="RemoveEngram"/>
          <xsd:element ref="Reveal_Event"/>
          <xsd:element ref="Species_Completion_Event"/>
          <xsd:element ref="StateChange_Event"/>
          <xsd:element ref="Transfer_Event"/>
        </xsd:choice>
        <xsd:element ref="Rule" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Score" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation>
    <xsd:documentation>*******************************************************************</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Expansions of Top-level commands</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ActiveRegion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="NonemptyString"/>
        <xsd:element name="Vertex" type="PointType" minOccurs="3" maxOccurs="unbounded"/>
        <xsd:element name="Start" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="End" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="SpeedMultiplier" type="PositiveDecimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="BlocksMovement" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="SensorsBlocked" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="IsVisible" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Color" type="Colors" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DefineEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Value" type="xsd:string" />
        <xsd:element name="Type" type="EngramTypes" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="EngramTypes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="String" />
      <xsd:enumeration value="Double" />
      <xsd:enumeration value="Logical" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ChangeEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Unit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Time" type="xsd:integer" />
        <xsd:element name="Value" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RemoveEngram">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Time" type="xsd:integer" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="DyadicCondition">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LT" />
      <xsd:enumeration value="LE" />
      <xsd:enumeration value="GT" />
      <xsd:enumeration value="GE" />
      <xsd:enumeration value="EQ" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EngramComparisonClause">
    <xsd:sequence>
      <xsd:element name="Condition" type="DyadicCondition" />
      <xsd:element name="CompareTo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EngramRange">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:element name="Unit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:choice>
          <xsd:element name="Included" type="ValueList" />
          <xsd:element name="Excluded" type="ValueList" />
          <xsd:element name="Comparison" type="EngramComparisonClause" />
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CloseChatRoom">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Room" type="NonemptyString"/>
        <xsd:element ref="Time"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="ValueList">
    <xsd:list id="Value" itemType="xsd:string" />
  </xsd:simpleType>
  <xsd:element name="Completion_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:choice>
          <xsd:element ref="Action" />
          <xsd:element ref="NewState"/>
        </xsd:choice>
        <xsd:element ref="DoThis"  minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Create_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element name="Kind" type="NonemptyString"/>
        <xsd:element name="Owner" type="NonemptyString" />
        <xsd:element name="Subplatform" type="SubplatformType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Adopt_Platform" type="AdoptPlatformType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="DecisionMaker">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Role" type="NonemptyString" />
        <xsd:element name="Identifier" type="NonemptyString" />
        <xsd:element name="Color" type="Colors"/>
        <xsd:element name ="Briefing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Team" type ="NonemptyString" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FlushEvents">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Unit" type="NonemptyString"/>
        <xsd:element ref="Time"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Genus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="NonemptyString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LandRegion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" type="NonemptyString"/>
        <xsd:element name="Vertex" type="PointType" minOccurs="3" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Launch_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Parent" type="NonemptyString"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Time"/>
        <xsd:choice>
          <xsd:element name="Kind" type="NonemptyString"/>
          <xsd:element name="Child" type="NonemptyString"/>
        </xsd:choice>
        <xsd:element name="RelativeLocation" type="LocationType"/>
        <xsd:element name="InitialState" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="StartupParameters" type="Parameters"  minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Move_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Time"/>
        <xsd:element name="Throttle" type="xsd:integer" />
        <xsd:element name="Destination" type="LocationType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Network">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Name" type="NonemptyString"/>
    
          <xsd:element name="Member" type="NonemptyString" minOccurs="1" maxOccurs="unbounded" />
   
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="OpenChatRoom">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Room" type="NonemptyString"/>
        <xsd:element ref="Time"/>
        <xsd:element name="Members" type="NonemptyString" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Playfield">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MapFileName" type="NonemptyString"/>
        <xsd:element name="IconLibrary" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element  name="UtmZone" type="NonemptyString" />
        <xsd:element name="VerticalScale" type="PositiveDecimal" />
        <xsd:element name="HorizontalScale" type="PositiveDecimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reiterate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Start" type="PositiveInteger"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="ReiterateThis"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Reveal_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Time"/>
        <xsd:element name="InitialLocation" type="LocationType"/>
        <xsd:element name="InitialState" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="StartupParameters" type="Parameters"  minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Rule">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="NonemptyString"/>
        <xsd:element name="Unit" type="Actor"/>
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <xsd:element name="Object" type="Actor"/>
          <xsd:element name="NewState" type="NonemptyString"/>
          <xsd:element name="From" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:element name="Increment" type="xsd:decimal"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Score">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="NonemptyString"/>
        <xsd:element name="Rules" type="NonemptyString"/>
        <xsd:element name="Applies" type="NonemptyString"/>
        <xsd:element name="Viewers" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Initial" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Sensor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" />
        <xsd:choice>
          <xsd:sequence>
            <xsd:choice>
              <xsd:element name="Attribute" type="xsd:string" />
              <xsd:element name="Engram" type="xsd:string" />
            </xsd:choice>
            <xsd:element ref="Cone" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
          <xsd:element name="Extent" type="xsd:decimal">
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Species">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="NonemptyString" />
        <xsd:element name="Base" type="NonemptyString" />
        <xsd:element name="Size" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="IsWeapon" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="RemoveOnDestruction" type = "xsd:boolean" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="FullyFunctional" type="FullyFunctionalType"/>
        <xsd:element name="DefineState" type="StateType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Species_Completion_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Species" type="xsd:string"/>
        <xsd:choice>
          <xsd:element ref="Action" />
          <xsd:element ref="NewState"/>
        </xsd:choice>
        <xsd:element ref="DoThis"  minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StateChange_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID" />
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Time"/>
        <xsd:element name="NewState" type="xsd:string"/>
        <xsd:choice>
          <xsd:element name="From" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Except" type="NonemptyString" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Team">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Name" type="NonemptyString" />
        <xsd:element name="Against" type="NonemptyString" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Transfer_Event">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID"/>
        <xsd:element ref="EngramRange" minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Time"/>
        <xsd:element name="From" type="NonemptyString"/>
        <xsd:element name="To" type="NonemptyString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation>
    <xsd:documentation>*******************************************************************</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Lower-level items in alphabetical order</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Action" type="NonemptyString" />
  <xsd:complexType name="Actor">
    <xsd:sequence>
      <xsd:element name="Owner" type="NonemptyString"/>
      <xsd:element name="ID" type="NonemptyString"/>
      <xsd:element name="Region" type="ScoringLocation" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdoptPlatformType">
    <xsd:sequence>
      <xsd:element name="Child"/>
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="InitialState" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="InitialParameters" type="Parameters" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArmamentType">
    <xsd:sequence>
      <xsd:element name="Weapon" type="NonemptyString"/>
      <xsd:element name="Count" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CapabilityType">
    <xsd:sequence>
      <xsd:element name="Name" type="NonemptyString" />
      <xsd:element name="Proximity" type="ProximityType"  minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComboVulnerabilityType">
    <xsd:sequence>
      <xsd:element name="Contribution" type="ContributionType"  minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="NewState" type="NonemptyString" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Cone">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Spread" type="xsd:decimal"/>
        <xsd:element name="Extent" type="xsd:decimal"></xsd:element>
        <xsd:element name="Direction" type="LocationType"/>
        <xsd:element name="Level" type="NonemptyString"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ContributionType">
    <xsd:sequence>
      <xsd:element name="Capability" type="NonemptyString"/>
      <xsd:element name="Effect" type="xsd:integer" />
      <xsd:element name="Range" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DockedPlatforms">
    <xsd:sequence>
      <xsd:element name="Count" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DoThis">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element ref="Reveal_Event"/>
        <xsd:element ref="Move_Event" />
        <xsd:element ref="Completion_Event" />
        <xsd:element ref="Transfer_Event"/>
        <xsd:element ref="StateChange_Event"/>
        <xsd:element ref="Launch_Event"/>
        <xsd:element ref="DefineEngram"/>
        <xsd:element ref="ChangeEngram"/>
        <xsd:element ref="RemoveEngram"/>
        <xsd:element ref="FlushEvents"/>
        <xsd:element ref="Species_Completion_Event"/>
        <xsd:element ref="Reiterate"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EffectType">
    <xsd:sequence>
      <xsd:element name="Intensity" type="xsd:integer"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmitterType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Attribute" type="xsd:string" />
        <xsd:element name="Engram" type="xsd:string" />
      </xsd:choice>
      <xsd:element ref="NormalEmitter" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FullyFunctionalType">
    <xsd:sequence>
      <xsd:element name="Icon" type="NonemptyString" minOccurs="0" maxOccurs="1" />
      <xsd:element name="StateParameters" type="StateParametersType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ID" type="NonemptyString" />
  <xsd:complexType name="LaunchedPlatforms">
    <xsd:sequence>
      <xsd:element name="ID" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Location" type="LocationType" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="InitialState" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InitialParameters" type="Parameters" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LocationType">
    <xsd:restriction>
      <xsd:simpleType>
        <xsd:list itemType="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:minLength value="2"/>
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="NewState" type="NonemptyString"/>
  <xsd:element name="NormalEmitter">
    <xsd:complexType>
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element name="Level" type="NonemptyString"/>
        <xsd:choice>
          <xsd:element name="Variance" type="xsd:decimal"/>
          <xsd:element name="Percent" type="xsd:decimal"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="NonemptyString">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Parameters">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="Parameter" type="NonemptyString" />
      <xsd:element name="Setting" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PointType">
    <xsd:restriction>
      <xsd:simpleType>
        <xsd:list itemType="xsd:decimal"/>
      </xsd:simpleType>
      <xsd:length value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PositiveDecimal">
    <xsd:restriction base="xsd:decimal">
      <xsd:minExclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PositiveInteger">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ProximityType">
    <xsd:sequence>
      <xsd:element name="Range" type="xsd:decimal"/>
      <xsd:element name="Effect" type="EffectType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReiterateThis">
    <xsd:complexType>
      <xsd:choice   minOccurs="1" maxOccurs="unbounded">
        <xsd:element ref="Move_Event" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ScoringLocation">
    <xsd:sequence>
      <xsd:element name="Zone" type="NonemptyString"/>
      <xsd:element name="Relationship" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StateParametersType">
    <xsd:sequence>
      <xsd:element name="LaunchDuration" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DockingDuration" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element ref="TimeToAttack" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MaximumSpeed" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelCapacity" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="InitialFuelLoad" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelConsumptionRate" type = "xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FuelDepletionState" type = "NonemptyString" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Stealable" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Sense" type="NonemptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Capability" type="CapabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SingletonVulnerability" type="VulnerabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ComboVulnerability" type="ComboVulnerabilityType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Emitter" type="EmitterType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StateType">
    <xsd:sequence>
      <xsd:element name="State" type="NonemptyString"/>
      <xsd:element name="Icon" type="NonemptyString" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="StateParameters" type="StateParametersType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SubplatformType">
    <xsd:sequence>
      <xsd:element name="Kind" type="NonemptyString"/>
      <xsd:element name="Armament" type="ArmamentType"  minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Docked" type="DockedPlatforms" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Launched" type="LaunchedPlatforms" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Time" type="PositiveInteger"/>
  <xsd:element name="TimeToAttack" type="PositiveInteger"/>
  <xsd:complexType name="TransitionType">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Effect" type="xsd:integer"/>
      <xsd:element name="Range" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Probability" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="State" type="NonemptyString"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VelocityType">
    <xsd:sequence>
      <xsd:element name="VX" type="xsd:decimal" />
      <xsd:element name="VY" type="xsd:decimal" />
      <xsd:element name="VZ" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VulnerabilityType">
    <xsd:sequence>
      <xsd:element name="Capability" type="NonemptyString"/>
      <xsd:element name="Transitions" type ="TransitionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Colors">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AliceBlue"/>
      <xsd:enumeration value="AntiqueWhite"/>
      <xsd:enumeration value="Aqua"/>
      <xsd:enumeration value="Aquamarine"/>
      <xsd:enumeration value="Azure"/>
      <xsd:enumeration value="Beige"/>
      <xsd:enumeration value="Bisque"/>
      <xsd:enumeration value="Black"/>
      <xsd:enumeration value="BlanchedAlmond"/>
      <xsd:enumeration value="Blue"/>
      <xsd:enumeration value="BlueViolet"/>
      <xsd:enumeration value="Brown"/>
      <xsd:enumeration value="BurlyWood"/>
      <xsd:enumeration value="CadetBlue"/>
      <xsd:enumeration value="Chartreuse"/>
      <xsd:enumeration value="Chocolate"/>
      <xsd:enumeration value="Coral"/>
      <xsd:enumeration value="CornflowerBlue"/>
      <xsd:enumeration value="Cornsilk"/>
      <xsd:enumeration value="Crimson"/>
      <xsd:enumeration value="Cyan"/>
      <xsd:enumeration value="DarkBlue"/>
      <xsd:enumeration value="DarkCyan"/>
      <xsd:enumeration value="DarkGoldenrod"/>
      <xsd:enumeration value="DarkGray"/>
      <xsd:enumeration value="DarkGreen"/>
      <xsd:enumeration value="DarkKhaki"/>
      <xsd:enumeration value="DarkMagenta"/>
      <xsd:enumeration value="DarkOliveGreen"/>
      <xsd:enumeration value="DarkOrange"/>
      <xsd:enumeration value="DarkOrchid"/>
      <xsd:enumeration value="DarkRed"/>
      <xsd:enumeration value="DarkSalmon"/>
      <xsd:enumeration value="DarkSeaGreen"/>
      <xsd:enumeration value="DarkSlateBlue"/>
      <xsd:enumeration value="DarkSlateGray"/>
      <xsd:enumeration value="DarkTurquoise"/>
      <xsd:enumeration value="DarkViolet"/>
      <xsd:enumeration value="DeepPink"/>
      <xsd:enumeration value="DeepSkyBlue"/>
      <xsd:enumeration value="DimGray"/>
      <xsd:enumeration value="DodgerBlue"/>
      <xsd:enumeration value="Firebrick"/>
      <xsd:enumeration value="FloralWhite"/>
      <xsd:enumeration value="ForestGreen"/>
      <xsd:enumeration value="Fuchsia"/>
      <xsd:enumeration value="Gainsboro"/>
      <xsd:enumeration value="GhostWhite"/>
      <xsd:enumeration value="Gold"/>
      <xsd:enumeration value="Goldenrod"/>
      <xsd:enumeration value="Gray"/>
      <xsd:enumeration value="Green"/>
      <xsd:enumeration value="GreenYellow"/>
      <xsd:enumeration value="Honeydew"/>
      <xsd:enumeration value="HotPink"/>
      <xsd:enumeration value="IndianRed"/>
      <xsd:enumeration value="Indigo"/>
      <xsd:enumeration value="Ivory"/>
      <xsd:enumeration value="Khaki"/>
      <xsd:enumeration value="Lavender"/>
      <xsd:enumeration value="LavenderBlush"/>
      <xsd:enumeration value="LawnGreen"/>
      <xsd:enumeration value="LemonChiffon"/>
      <xsd:enumeration value="LightBlue"/>
      <xsd:enumeration value="LightCoral"/>
      <xsd:enumeration value="LightCyan"/>
      <xsd:enumeration value="LightGoldenrodYellow"/>
      <xsd:enumeration value="LightGray"/>
      <xsd:enumeration value="LightGreen"/>
      <xsd:enumeration value="LightPink"/>
      <xsd:enumeration value="LightSalmon"/>
      <xsd:enumeration value="LightSeaGreen"/>
      <xsd:enumeration value="LightSkyBlue"/>
      <xsd:enumeration value="LightSlateGray"/>
      <xsd:enumeration value="LightSteelBlue"/>
      <xsd:enumeration value="LightYellow"/>
      <xsd:enumeration value="Lime"/>
      <xsd:enumeration value="LimeGreen"/>
      <xsd:enumeration value="Linen"/>
      <xsd:enumeration value="Magenta"/>
      <xsd:enumeration value="Maroon"/>
      <xsd:enumeration value="MediumAquamarine"/>
      <xsd:enumeration value="MediumBlue"/>
      <xsd:enumeration value="MediumOrchid"/>
      <xsd:enumeration value="MediumPurple"/>
      <xsd:enumeration value="MediumSeaGreen"/>
      <xsd:enumeration value="MediumSlateBlue"/>
      <xsd:enumeration value="MediumSpringGreen"/>
      <xsd:enumeration value="MediumTurquoise"/>
      <xsd:enumeration value="MediumVioletRed"/>
      <xsd:enumeration value="MidnightBlue"/>
      <xsd:enumeration value="MintCream"/>
      <xsd:enumeration value="MistyRose"/>
      <xsd:enumeration value="Moccasin"/>
      <xsd:enumeration value="NavajoWhite"/>
      <xsd:enumeration value="Navy"/>
      <xsd:enumeration value="OldLace"/>
      <xsd:enumeration value="Olive"/>
      <xsd:enumeration value="OliveDrab"/>
      <xsd:enumeration value="Orange"/>
      <xsd:enumeration value="OrangeRed"/>
      <xsd:enumeration value="Orchid"/>
      <xsd:enumeration value="PaleGoldenrod"/>
      <xsd:enumeration value="PaleGreen"/>
      <xsd:enumeration value="PaleTurquoise"/>
      <xsd:enumeration value="PaleVioletRed"/>
      <xsd:enumeration value="PapayaWhip"/>
      <xsd:enumeration value="PeachPuff"/>
      <xsd:enumeration value="Peru"/>
      <xsd:enumeration value="Pink"/>
      <xsd:enumeration value="Plum"/>
      <xsd:enumeration value="PowderBlue"/>
      <xsd:enumeration value="Purple"/>
      <xsd:enumeration value="Red"/>
      <xsd:enumeration value="RosyBrown"/>
      <xsd:enumeration value="RoyalBlue"/>
      <xsd:enumeration value="SaddleBrown"/>
      <xsd:enumeration value="Salmon"/>
      <xsd:enumeration value="SandyBrown"/>
      <xsd:enumeration value="SeaGreen"/>
      <xsd:enumeration value="SeaShell"/>
      <xsd:enumeration value="Sienna"/>
      <xsd:enumeration value="Silver"/>
      <xsd:enumeration value="SkyBlue"/>
      <xsd:enumeration value="SlateBlue"/>
      <xsd:enumeration value="SlateGray"/>
      <xsd:enumeration value="Snow"/>
      <xsd:enumeration value="SpringGreen"/>
      <xsd:enumeration value="SteelBlue"/>
      <xsd:enumeration value="Tan"/>
      <xsd:enumeration value="Teal"/>
      <xsd:enumeration value="Thistle"/>
      <xsd:enumeration value="Tomato"/>
      <xsd:enumeration value="Transparent"/>
      <xsd:enumeration value="Turquoise"/>
      <xsd:enumeration value="Violet"/>
      <xsd:enumeration value="Wheat"/>
      <xsd:enumeration value="White"/>
      <xsd:enumeration value="WhiteSmoke"/>
      <xsd:enumeration value="Yellow"/>
      <xsd:enumeration value="YellowGreen"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
