VisualScenarioGenerator/VSG/Models/vsg/xsd/defaultdatabase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Mark Weston (Aptima Inc) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Database">
		<xs:complexType>
			<xs:attribute name="server" type="xs:string" use="required"/>
			<xs:attribute name="database" type="xs:string" use="required"/>
			<xs:attribute name="user" type="xs:string" use="required"/>
			<xs:attribute name="port" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
