VisualizationDashboard/VisualizationDashboard/Service References/RTPMEServiceRef/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://Aptima.RTPMEngine" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfMeasureResultMrailTHo">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfMeasureResultMrailTHo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://Aptima.RTPMEngine" name="Value" nillable="true" type="q1:ArrayOfMeasureResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfMeasureResultMrailTHo" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfMeasureResultMrailTHo" />
</xs:schema>